img ~ p {
    color :green
}
/* child selector */
div > p {
    background-color: yellow;
  }
/* decentdant selector ==>> div p {
    background-color: rgb(241, 82, 33);
  } */
/* pseudo selector dibaha ini
/* rule akan diterapkan pada sebuah tautan yang belum pernah dikunjungi */
/* a:link {
  color: red;
}

/* rule akan diterapkan pada sebuah tautan yang sudah pernah dikunjungi */
/* a:visited {
  color: green;
}

/* rule akan diterapkan pada sebuah tautan ketika diarahkan dengan kursor */
/* a:hover {
  color: pink;
} */

/* rule akan diterapkan pada sebuah tautan ketika ditekan */
/* a:active {
  color:orange;
} */
/* untuk perubahan tapi tidak terlihat di html blockquote::before,
blockquote::after {
  content: '"';
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
} */
 /* Rule styling akan diterapkan pada karakter pertama di sebuah paragraf */
/* p::first-letter {
  font-size: 32px;
  font-weight: bold;
  color: saddlebrown;
} */
